<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Web Site - Login</title>
  <meta name="description" content="My Web Site">
</head>
<body>
    <form method="POST" action="/login">
    <div>
        User Name:
    </div>
    <div>
        <input type="text" name="user_name" />
    </div>
    <div>
        Password:
    </div>
    <div>
        <input type="password" name="password" />
    </div> 
    <div>
        <button type="submit">Log In</button>
    </div>
    </form>
</body>
</html>